<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content= "no-cache" />
    <meta http-equiv="Expires" content= "0" />
    <title>名师工作站</title>
    <script src="/js/common.js"></script>
</head>
<body>

<div class="main-container" id="vueapp">
    <div class="home">
        <ul class="home-list">
            <li>管理员模块</li>
            <li><i class="glyphicon glyphicon-menu-right"></i>为【<span th:text="${realName}"></span>】用户修改密码</li>
        </ul>
    </div>
    <div class="main-cont">
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">登录密码：</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入新密码"/>
                </div>
            </div>
            <input type="hidden" id="userId" name="userId" th:value="${userId}" />
            <input type="hidden" id="isMe" name="isMe" th:value="${isMe}" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <button type="botton" class="btn btn-primary" id="saveBtn">保存</button>
                    <a class="btn btn-default" href="/user/list">返回</a>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<link rel="stylesheet" href="/css/modules.css"/>
<script type="text/javascript" src="/viewjs/login/showChangePassword.js"></script>
</body>
</html>